<!DOCTYPE html>


<head>
    <meta charset="UTF-8">
    <title>MY VOCABULARY ADMINISTRATION</title>
    <link rel="stylesheet" href="/static/styles/style.css">
   <link href="https://fonts.googleapis.com/css?family=Kodchasan:700|Source+Sans+Pro:400,400i,700&amp;subset=latin-ext" rel="stylesheet">
</head>


<body>

    <!-- Header -->
    <header class="header">

        <h1>MY VOCABULARY</h1>

        <div>
            <a href="{{url_for('home')}}">
            <img src="/static/images/streetsign.png" alt="homepage">
            </a>
        </div>

    </header>

    <!-- Administration -->
    <section class="administration">
        <h2>WORK WITH MY VOCABULARY</h2>

        <form>

            <div>
                Searched word:
                <input type="text" name="word">
                <input type="submit" name="enter" value="Enter word">
                {% if chosen_words %}
                    <input type="submit" name="delete" value="Delete word">
                {% endif %}
            </div>

            <p class="message">
                {% if message %}
                    {{message}}
                {% endif %}
            </p>


            <div>
                {% if chosen_words %}
                    <h3>MY VOCABULARY</h3>

                    <p class="controls">
                        <input type="submit" name="delete_selected" value="Delete"
                               title="Delete selected words">
                    </p>

                    <table>

                        <col><col><col>

                        {% for key, value in chosen_words.items() %}
                            <tr>
                                <td class="checkbox">
                                    <input type="checkbox" name="select"
                                           value="{{key}}">
                                </td>
                                <td>{{key}}</td>
                                <td>{{value}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>


        </form>

    </section>

    <!-- Footer -->
    <footer class="footer">
        <p>© 2018-2019, Kateřina Loučková</p>
    </footer>

</body>


</html>